.main-nav {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 2;
    &--closed .main-nav__list {
        display: none;
    }
    &--opened .main-nav__list {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
        height: 481px;
        box-sizing: border-box;
        padding: 58px 20px 0px 67px;
        font-size: 1.286em;
        font-weight: $font-weight-bold;
        line-height: 3.95em;
        color: $pallete-body-text-and-background;
        text-decoration: none;
        background-color: $pallete-block-background;
        list-style: none;
        z-index: 10;
        overflow: auto;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: opacity;
    }
    &--no-js .main-nav__buttons {
        display: none;
    }
    &--no-js .main-nav__list {
        animation-duration: 0.8s;
        animation-name: shadow;
    }
    &__buttons {
        position: absolute;
        z-index: 1000;
        top: -42px;
        left: 72%;
        padding: 25px 10px 25px 25px;
        display: flex;
        align-items: center;
    }
    &__toggle {
        position: relative;
        width: 17px;
        height: 2px;
        background: $pallete-logo-text;
        border: 0;
        outline: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0px;
            width: 60%;
            height: 2px;
            background: $pallete-logo-text;
        }
        &::after {
            width: 100%;
            top: 5px;
        }
        &--show {
            background: transparent;
            &::before,
            &::after {
                width: 163%;
                left: -139%;
            }
            &::before {
                top: 4px;
                transform: translate3d(0, 10px, 0) translateZ(0) scale(1) rotate(45deg);
            }
            &::after {
                top: 10px;
                transform: translate3d(0, 4px, 0) translateZ(0) scale(1) rotate(-45deg);
            }
        }
    }
    &__link {
        position: relative;
        color: $pallete-body-text-and-background;
        text-decoration: none;
        &:focus {
            &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: -22px;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: $pallete-logo-text;
            }
        }
    }
    @include respond-to("mobile-565") {
        &__buttons {
            left: 40%;
        }
    }
    @include respond-to("medium") {
        &--opened .main-nav__list {
            height: 660px;
            padding: 80px 20px 0 172px;
            font-size: 2.571em;
            line-height: 2.72em;
        }
        &__buttons {
            top: -34px;
            left: 48%;
        }
        &__toggle {
            width: 23px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -7px;
            }
            &::after {
                top: 7px;
            }
            &--show {
                background: transparent;
                &::before,
                &::after {
                    width: 163%;
                    left: 1260%;
                }
                &::before {
                    top: 34px;
                }
                &::after {
                    top: 40px;
                }
            }
        }
        &__link {
           &:focus {
                &::before {
                    top: 12px;
                    left: -34px;
                    width: 16px;
                    height: 16px;
                }
           }
        }
    }
    @include respond-to("large") {
        &--opened .main-nav__list {
            height: 786px;
            padding: 145px 20px 0 420px;
            font-size: 3.429em;
            line-height: 2.02em;
        }
        &__buttons {
            top: -24px;
            left: 44.5%;
        }
        &__toggle {
            width: 23px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -7px;
            }
            &::after {
                top: 7px;
            }
            &--show {
                background: transparent;
                &::before,
                &::after {
                    width: 240%;
                    left: 2680%;
                }
                &::before {
                    top: 0px;
                }
                &::after {
                    top: 6px;
                }
            }
        }
        &__link {
           &:focus {
                &::before {
                    top: 15px;
                    left: -34px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}