.popup-sign-up {
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    width: 100%;
    max-width: 1600px;
    height: 549px;
    margin-left: -50%;
    padding: 72px 0 52px;
    box-sizing: border-box;
    box-shadow: 0 9px 23px 9px rgba(27, 27, 27, 0.2);
    border-radius: 4px;
    font-family: $font-main;
    font-size: 1em;
    font-weight: $font-weight-light;
    color: $pallete-popup-text;
    text-align: center;
    background-color: $pallete-body-text-and-background;
    &__close {
        position: relative;
        top: -482px;
        right: -108px;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: -1px;
            width: 23px;
            height: 2px;
            background-color: $pallete-body-text;
            z-index: 1;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        list-style: none;
    }
    &__title {
        width: 80%;
        margin: 0 0 20px;
        font-family: $font-popup-title;
        font-size: 1.714em;
        font-weight: $font-weight-normal;
        line-height: 1.25em;
        color: $pallete-body-text;
        opacity: 0.87;
    }
    &__subtitle {
        margin: 0 0 28px;
        font-family: $font-popup-subtitle;
        font-weight: $font-weight-normal;
        opacity: 0.87;
    }
    &__form {
        margin: 0 auto;
    }

    @include respond-to("medium") {
        height: 481px;
        padding: 108px 0 52px;
        &__close {
            margin: 0 36px 0 auto;
            top: -324px;
            right: -288px;
            &::before,
            &::after {
                right: -5px;
                width: 30px;
            }
        }
        &__title {
            font-size: 2.143em;
        }
        &__subtitle {
            margin: 0 0 30px;
            letter-spacing: 0.06em;
        }
    }
    @include respond-to("large") {
        width: 85.6%;
        height: 777px;
        margin-left: -42.8%;
        padding: 188px 0 52px;
        &__close {
            width: 40px;
            height: 40px;
            top: -533px;
            right: -476px;
            &::before,
            &::after {
                width: 50px;
                top: 18px;
            }
        }
        &__title {
            margin: 0 0 32px 33px;
            font-size: 3.429em;
            letter-spacing: 0.02em;
        }
        &__subtitle {
            margin: 0 0 62px 25px;
            font-size: 1.286em;
            letter-spacing: 0.01em;
        }
    }
}

.form-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    padding: 0 20px 0 60px;
    &__input {
        width: 72.5%;
        margin: 0 60px 26px 0;
        border: none;
        border-bottom: 2px solid $pallete-popup-text;
        line-height: 1.75em;
        &:active {
            box-shadow: 0 2px 2px $pallete-popup-text;
        }
    }
    &__input-checkbox {
        width: 18px;
        height: 18px;
        margin: 8px 0 -18px -12px;
    }
    &__label-checkbox {
        margin: -5px 0 34px 16px;
        text-align: left;
        line-height: 1.45em;
        letter-spacing: 0.035em;
        &:active {
            box-shadow: 0 2px 2px $pallete-block-background;
        }
    }
    &__submit {
        width: 155px;
        height: 35px;
        margin: 0 0 0 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 18px;
        font-weight: $font-weight-medium;
        color: $pallete-body-text-and-background;
        background-color: $pallete-block-background;
        outline: none;
        &:active {
            box-shadow: 0 2px 2px $pallete-block-background;
        }
    }
    &__submit-text {
        margin: 0 0 0 -13px;
    }
    @include respond-to("medium") {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        &__input:not(last-of-type) {
            width: 22.6%;
            margin: 0 42px 60px 0;
        }
        &__telephone {
            order: 2;
        }
        &__name {
            order: 1;
        }
        &__e-mail {
            order: 3;
        }
        &__input-checkbox {
            position: relative;
            top: 0;
            left: 40px;
            margin: 98px 0 -22px 10px;
        }
        &__label-checkbox {
            margin: 5px 0 0 77px;
            order: 3;
        }
        &__submit {
            margin: -3px 40px 0 0;
            order: 3;
        }
    }
    @include respond-to("large") {
        flex-direction: row;
        flex-wrap: wrap;
        width: 83.5%;
        margin: 0 auto;
        padding: 0;
        &__input:not(last-of-type)  {
            width: 22.8%;
            margin: 0 60px 90px 0;
            font-size: 1.143em;
            line-height: 2.3em;
        }
        &__telephone {
            order: 2;
        }
        &__name {
            order: 1;
        }
        &__e-mail {
            order: 3;
        }
        &__input-checkbox {
            width: 30px;
            height: 30px;
            top: 60px;
            margin: 85px 0 -22px 25px;
        }
        &__label-checkbox {
            margin: 14px 0 32px 112px;
            font-size: 1.286em;
            order: 3;
        }
        &__submit {
            width: 237px;
            height: 54px;
            margin: 0 62px 0 0;
            border-radius: 27px;
            font-size: 1.357em;
            order: 3;
        }
        &__submit-text {
            margin: 0;
        }
    }
}

input[type=checkbox]+.form-sign-up__label-checkbox {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -32px;
        width: 21px;
        height: 21px;
        margin: 0;
        background-color: $pallete-block-background;
        @include respond-to("large") {
            top: -2px;
            left: -50px;
            width: 32px;
            height: 32px;
        }
    }
}

input[type=checkbox]:checked+.form-sign-up__label-checkbox::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -32px;
    width: 21px;
    height: 21px;
    margin: 0;
    background: $pallete-block-background url(../img/checkbox-on.svg) no-repeat;
    background-size: cover;
    @include respond-to("medium") {
        top: -1px;
        left: -30px;
    }
    @include respond-to("large") {
        top: -2px;
        left: -50px;
        width: 32px;
        height: 32px;
        background: $pallete-block-background url(../img/checkbox-on-desctop.svg) no-repeat;
    }
}
:focus {
    outline: 4px solid rgb(65, 183, 219);
  }