$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-sfui: 'SFUIText-Regular',
Arial,
sans-serif;
$font-roboto: 'Roboto-Regular',
Tahoma,
sans-serif;
$font-proxima: 'Proxima-Nova-Extrabold',
Arial Bold,
sans-serif;
$font-title: $font-roboto;
$font-main: $font-sfui;
$font-background: $font-proxima;
$color-white1: #fff;
$color-white2: #fefefe;
$color-black: #000;
$color-plantation: #2A4F37;
$color-chelsea-cucumber: #91aa59;
$color-mine-shaft: #242424;
$pallete-body-text-and-background: $color-white1;
$pallete-block-background: $color-chelsea-cucumber;
$pallete-body-text: $color-black;
$pallete-in-detail-text: $color-plantation;
$pallete-subtitle-of-block-text: $color-mine-shaft;
$pallete-logo-text: $color-white2;
html,
body {
    height: 100%;
    //overflow-x: hidden;
}

.page {
    display: grid;
    grid-template-rows: 46px 1fr 157px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $pallete-block-background url("../img/background.png") 0 0 no-repeat;
    font-family: $font-main;
    font-size: 14px;
    color: $pallete-body-text-and-background;
    background-color: $pallete-body-text-and-background;
    /* @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrapper {
        padding: 20px 10px;
        @media (min-width: 1200px) {
            width: 100%;
            padding: 0;
        }*/
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    min-height: 60px;
}

.logo {
    width: 13%;
    margin: -0.083em 0 auto;
        & img {
            display:block;
            width: 100%;
            height: auto;
            margin-bottom: -2px;
        }
        & span {
        font-family: $font-main;
        font-size: 0.6em;
        font-weight: $font-weight-light;
        color: $pallete-logo-text;
        line-height: 0.820em;
        text-transform: uppercase;
    }

}

.menu {
    position: relative;
    width: 11px;
    height: 0;
    margin-top: 8px;
    margin-right: 5px;
    border: 1px solid $pallete-logo-text;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: -2px;
        width: 17px;
        height: 0;
        border: 1px solid $pallete-logo-text;
    }
    &::after {
        top: 9px;
    }
}

main {
    display: grid;
    grid-template-rows: 430px 385px 1200px 1fr 420px 540px;
    grid-row-gap:  50px;
}

.title-wrapper {
    position: relative;
    padding: 70px 0 0 15px;
    box-sizing: border-box;
}

.title {
    font-family: $font-title;
    font-size: 30px;
    font-weight: $font-weight-light;
    color: $pallete-body-text-and-background;
    text-transform: uppercase;
    letter-spacing: 3.1px;
}

.schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 153px;
    height: 35px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 19px;
    border: 2px solid $pallete-body-text-and-background;
}

.schedule-link {
    font-family: $font-main;
    font-size: 11px;
    font-weight: $font-weight-medium;
    color: $pallete-body-text-and-background;
    text-decoration: none;
}

.block {
    width: 90.625%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    &__title {
        margin: 0 0 30px 25px;
        font-family: $font-title;
        font-size: 18px;
        font-weight: $font-weight-bold;
        line-height: 14.23px;
        color: $pallete-body-text;
        opacity: 0.87;
    }
    &__title-about-classes {
        margin: -10px 0 15px 25px;
    }
    &__title-contacts {
        margin: 0 0 10px 40px;
    }
    &__subtitle {
        font-family: $font-title;
        font-size: 14px;
        font-weight: $font-weight-normal;
        color: $pallete-body-text;
        text-align: center;
        opacity: 0.87;
    }
    &__text {
        margin: 0 0 20px 0;
        padding: 0;
        font-family: $font-main;
        font-size: 14px;
        font-weight: $font-weight-light;
        color: $pallete-body-text;
        opacity: 0.87;
        list-style: none;
    }
    &__text-about-pilates-briefly {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & li {
            margin: 0 2px 10px 0;
        }
    }
    &__text-about-classes {
        margin: 0 6px 0 0px;
        text-align: center;
    }
    &__text-about-classes-warm-up {
        margin: 0;
    }
    &__text-feedback {
        margin: 0 2px 42px 10px;
        text-align: center;
    }
    &__text-feedback-text1 {
        text-indent: 0.5em;
    }
    &__text-feedback-text2 {
        text-indent: 1.45em;
    }
}

.about-pilates {
    &__in-detail-link {
        position: relative;
        font-family: $font-main;
        font-size: 12px;
        font-weight: $font-weight-medium;
        color: $pallete-in-detail-text;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.87;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 98px;
            z-index: 1;
            width: 9px;
            height: 2px;
            background-color: $pallete-in-detail-text;
            transform: rotate(45deg);
        }
        &::before {
            top: 9px;
            transform: rotate(-45deg);
        }
    }
    &__imgs {
        width: 92.5%;
        max-width: 960px;
        margin: 0 auto;
    }
    &__img-big {
        width: 71%;
        margin: -9% -3% 0 auto;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__img-small {
        width: 45%;
        max-width: 666px;
        margin: -44% auto 0 0%;
        & img {
            width: 100%;
            height: auto;
        }
    }
}

.schedule-and-cost {
    &__levels {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 19px;
        margin: -3px auto 0;
}
    &__level {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
        padding: 98px 0 28px 47px;
        box-sizing: border-box;
        background: $pallete-block-background;
        border-radius: 4px;
        opacity: 0.5;
        &::before {
            content: "01";
            position: absolute;
            top: 15px;
            right: 45px;
            font-family: $font-background;
            font-size: 115px;
            font-weight: $font-weight-bold;
            opacity: 0.1;
        }
    }
    &__level-professional {
        opacity: 0.7;
        &::before {
            content: "02";
        }
    }
    &__level-master {
        opacity: 0.9;
        &::before {
            content: "03";
        }
    }
    &__title-of-level {
        width: 70%;
        margin: 0 0 -2px 0;
        font-family: $font-title;
        font-size: 12px;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        color: $pallete-body-text-and-background;
        letter-spacing: 2px;
        & span {
            font-size: 18px;
            letter-spacing: 2.8px;
        }
    }
    &__cost {
        font-family: $font-main;
        font-size: 16px;
        font-weight: $font-weight-bold;
        color: $pallete-body-text-and-background;
        letter-spacing: 0.5px;
    }
    &__schedule {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 0 5px 2px;
        font-family: $font-main;
        font-size: 16px;
        font-weight: $font-weight-medium;
        color: $pallete-body-text-and-background;
        & span {
            margin: 0 0 12px 0;
        }
    }
    &__sign-up {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 127px;
        height: 26px;
        border-radius: 15px;
        border: 2px solid $pallete-body-text-and-background;
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 111px;
            z-index: 2;
            width: 37px;
            height: 14px;
            background: url("../img/arrow.svg") no-repeat;
        }
    }
}

.about-classes {
    &__stages {
        display: grid;
        grid-template-rows: 370px 440px 440px 460px;
        grid-row-gap: 5px;
    }
    &__title-of-stage-warm-up {
        position: relative;
        top: 55px;
    }
    &__stage-basic {
        margin: 0 0;
        padding: 60px 0 0;
    }
    &__stage-stretching {
        margin: 0 -10px;
        padding: 60px 0 0;
    }
    &__text-stretching {
        color: $pallete-subtitle-of-block-text;
    }
    &__img {
        position: relative;
        width: 63%;
        max-width: 552px;
        margin: 0 auto;
        margin: -1% auto 2% 15%;
        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 5px;
            z-index: -1;
            width: 195px;
            height: 196px;
            border-radius: 50%;
            background-color: $pallete-block-background;
            opacity: 0.5;
        }
        &::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 130px;
            z-index: 0;
            width: 71px;
            height: 69px;
            background: url("../img/dots.svg") no-repeat;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__img-warm-up {
        width: 46.5%;
        max-width: 405px;
        margin: -7% 13% 5% auto;
        &::before {
            content: "";
            position: absolute;
            top: 84px;
            left: -94px;
            z-index: -1;
            width: 150px;
            height: 150px;
            border: 44px solid $pallete-block-background;
            border-radius: 50%;
            background-color: $pallete-body-text-and-background;
            opacity: 0.5;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            width: 0px;
            height: 0px;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__img-basic {
        width: 87%;
        max-width: 777px;
        margin: 35% 8.5% 8% auto;
        &::before {
            content: "";
            top: -52px;
            left: 32px;
        }
        &::after {
            content: "";
            position: absolute;
            top: -36px;
            left: 175px;
            z-index: 0;
            width: 71px;
            height: 55px;
            border-bottom-left-radius: 55%;
            background: url("../img/dots.svg") no-repeat;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__img-stretching {
        width: 100%;
        max-width: 960px;
        margin: 22% auto 6% 1px;
        &::before {
            content: "";
            position: absolute;
            top: -14px;
            left: 38px;
            z-index: -1;
            width: 120px;
            height: 120px;
            border: 44px solid $pallete-block-background;
            border-radius: 50%;
            background-color: $pallete-body-text-and-background;
            opacity: 0.5;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
            width: 0px;
            height: 0px;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
}

.feedback {
    margin: 0 15px 100px;
    &__slider {
        width: 100%;
        min-height: 300px;
        position: relative;
        margin: 0;
        padding: 0 0 25px 0;
        text-align: center;
        list-style: none; 
        & input {
            display: none;
        }
        & input + label {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $pallete-block-background;
            border: 2px solid rgba(190, 190, 190, 0.8);
            cursor: pointer;
            z-index: 100;
            position: relative;
            margin-right: 4px;
            top: 347px;
            left: -17px;
            transition: 0.8s ease-out 0s;
            opacity: 0.3;
        }
        & .feedback_label-1 {
            left: 0px;
        }
        & input + label:hover {
            background: $pallete-block-background;
            opacity: 0.5;
        }
        & input:checked + label {
            background: $pallete-block-background;
            opacity: 1;
        }
        & .feedback__content {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 0;
           // visibility: hidden;
            transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
        }
        & input:checked + label + .feedback__content {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
        }
    }
    
    &__content {
        box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
        border-radius: 4px;
        background-color: $pallete-body-text-and-background;
    }
    &__img {
        width: 34%;
        max-width: 294px;
        margin: 15% auto -1% 30%;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0 4.7% 0 0;
    }
    &__name {
        font-family: $font-title;
        font-size: 16px;
        font-weight: $font-weight-normal;
        color: $pallete-body-text;
        opacity: 0.87;
    }
    &__age-and-social {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: -8px 20px 20px 0;
        list-style: none;
        & li {
            margin: 0 18px 0 0;
        }
        &:last-child {
            margin: 0;
        }
        & .feedback__age {
            margin: 0 23px 0 0;
            font-family: $font-title;
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: $pallete-body-text;
            opacity: 0.87;
            
        }
    } 
}

.contacts {
    margin: 0;
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        margin: 0 0 45px 37px;
        padding: 0;
    }
    &__content {
        margin-bottom: 5px;
    }
    &__content-telephone {
        margin-bottom: -3px;
    }
    &__content-title {
        margin-bottom: 7px;
        font-family: $font-main;
        font-size: 16px;
        font-weight: $font-weight-medium;
        color: $pallete-body-text;
        line-height: 22.61px;
    }
    &__content-title-mail {
        margin-bottom: 0;
    }
    &__content-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        margin: 0;
        padding: 0;
    }
    &__img-map {
        width: 100%;
        max-width: 960px;
        & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.footer {
    width: 100%;
    margin: 0;
    padding: 25px 90px 10px;
    box-sizing: border-box;
    background: $pallete-block-background left bottom;
    &__content { 
       max-width: 120px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }
    &__logo-and-social {
        max-width: 75px;
        margin: 15px auto 40px;
        padding: 0;
        box-sizing: border-box;
    }
    &__logo {
        width: 55%;
        margin: 10px auto 5px 26%;
    }
    &__social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3px;
       // list-style: none;
    }
    &__trail {
        font-family: $font-main;
        font-size: 10px;
        font-weight: $font-weight-light;
        color: $pallete-logo-text;
        letter-spacing: 1.2px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    white-space: nowrap;
}

@font-face {
    font-family: "SFUIText-Regular";
    src: url("../fonts/sfui/SFUIText-Regular.woff") format("woff"), url("../fonts/sfui/SFUIText-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova-Extrabold";
    src: url("../fonts/proxima/FontsFree-Net-Proxima-Nova-Xbold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}