html,
body {
  height: 100%; }

.page {
  display: grid;
  grid-template-rows: 46px 1fr 157px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #91aa59 url("../img/background.png") 0 0 no-repeat;
  font-family: "SFUIText-Regular", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
  /* @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__wrapper {
        padding: 20px 10px;
        @media (min-width: 1200px) {
            width: 100%;
            padding: 0;
        }*/ }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 16px;
  min-height: 60px; }

.logo {
  width: 13%;
  margin: -0.083em 0 auto; }
  .logo img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -2px; }
  .logo span {
    font-family: "SFUIText-Regular", Arial, sans-serif;
    font-size: 0.6em;
    font-weight: 300;
    color: #fefefe;
    line-height: 0.820em;
    text-transform: uppercase; }

.menu {
  position: relative;
  width: 11px;
  height: 0;
  margin-top: 8px;
  margin-right: 5px;
  border: 1px solid #fefefe; }
  .menu::before, .menu::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -2px;
    width: 17px;
    height: 0;
    border: 1px solid #fefefe; }
  .menu::after {
    top: 9px; }

main {
  display: grid;
  grid-template-rows: 430px 385px 1200px 1fr 420px 540px;
  grid-row-gap: 50px; }

.title-wrapper {
  position: relative;
  padding: 70px 0 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title {
  font-family: "Roboto-Regular", Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.1px; }

.schedule-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 153px;
  height: 35px;
  margin-top: 2px;
  margin-left: 2px;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  border: 2px solid #fff; }

.schedule-link {
  font-family: "SFUIText-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  text-decoration: none; }

.block {
  width: 90.625%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .block__title {
    margin: 0 0 30px 25px;
    font-family: "Roboto-Regular", Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 14.23px;
    color: #000;
    opacity: 0.87; }
  .block__title-about-classes {
    margin: -10px 0 15px 25px; }
  .block__title-contacts {
    margin: 0 0 10px 40px; }
  .block__subtitle {
    font-family: "Roboto-Regular", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-align: center;
    opacity: 0.87; }
  .block__text {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: "SFUIText-Regular", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    opacity: 0.87;
    list-style: none; }
  .block__text-about-pilates-briefly {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .block__text-about-pilates-briefly li {
      margin: 0 2px 10px 0; }
  .block__text-about-classes {
    margin: 0 6px 0 0px;
    text-align: center; }
  .block__text-about-classes-warm-up {
    margin: 0; }
  .block__text-feedback {
    margin: 0 2px 42px 10px;
    text-align: center; }
  .block__text-feedback-text1 {
    text-indent: 0.5em; }
  .block__text-feedback-text2 {
    text-indent: 1.45em; }

.about-pilates__in-detail-link {
  position: relative;
  font-family: "SFUIText-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #2A4F37;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.87; }
  .about-pilates__in-detail-link::after, .about-pilates__in-detail-link::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 98px;
    z-index: 1;
    width: 9px;
    height: 2px;
    background-color: #2A4F37;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .about-pilates__in-detail-link::before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.about-pilates__imgs {
  width: 92.5%;
  max-width: 960px;
  margin: 0 auto; }

.about-pilates__img-big {
  width: 71%;
  margin: -9% -3% 0 auto; }
  .about-pilates__img-big img {
    width: 100%;
    height: auto; }

.about-pilates__img-small {
  width: 45%;
  max-width: 666px;
  margin: -44% auto 0 0%; }
  .about-pilates__img-small img {
    width: 100%;
    height: auto; }

.schedule-and-cost__levels {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 19px;
  margin: -3px auto 0; }

.schedule-and-cost__level {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 98px 0 28px 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #91aa59;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  opacity: 0.5; }
  .schedule-and-cost__level::before {
    content: "01";
    position: absolute;
    top: 15px;
    right: 45px;
    font-family: "Proxima-Nova-Extrabold", Arial Bold, sans-serif;
    font-size: 115px;
    font-weight: 700;
    opacity: 0.1; }

.schedule-and-cost__level-professional {
  opacity: 0.7; }
  .schedule-and-cost__level-professional::before {
    content: "02"; }

.schedule-and-cost__level-master {
  opacity: 0.9; }
  .schedule-and-cost__level-master::before {
    content: "03"; }

.schedule-and-cost__title-of-level {
  width: 70%;
  margin: 0 0 -2px 0;
  font-family: "Roboto-Regular", Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px; }
  .schedule-and-cost__title-of-level span {
    font-size: 18px;
    letter-spacing: 2.8px; }

.schedule-and-cost__cost {
  font-family: "SFUIText-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px; }

.schedule-and-cost__schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0 5px 2px;
  font-family: "SFUIText-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff; }
  .schedule-and-cost__schedule span {
    margin: 0 0 12px 0; }

.schedule-and-cost__sign-up {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 127px;
  height: 26px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 2px solid #fff; }
  .schedule-and-cost__sign-up::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 111px;
    z-index: 2;
    width: 37px;
    height: 14px;
    background: url("../img/arrow.svg") no-repeat; }

.about-classes__stages {
  display: grid;
  grid-template-rows: 370px 440px 440px 460px;
  grid-row-gap: 5px; }

.about-classes__title-of-stage-warm-up {
  position: relative;
  top: 55px; }

.about-classes__stage-basic {
  margin: 0 0;
  padding: 60px 0 0; }

.about-classes__stage-stretching {
  margin: 0 -10px;
  padding: 60px 0 0; }

.about-classes__text-stretching {
  color: #242424; }

.about-classes__img {
  position: relative;
  width: 63%;
  max-width: 552px;
  margin: 0 auto;
  margin: -1% auto 2% 15%; }
  .about-classes__img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: -1;
    width: 195px;
    height: 196px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #91aa59;
    opacity: 0.5; }
  .about-classes__img::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 130px;
    z-index: 0;
    width: 71px;
    height: 69px;
    background: url("../img/dots.svg") no-repeat; }
  .about-classes__img img {
    width: 100%;
    height: auto; }

.about-classes__img-warm-up {
  width: 46.5%;
  max-width: 405px;
  margin: -7% 13% 5% auto; }
  .about-classes__img-warm-up::before {
    content: "";
    position: absolute;
    top: 84px;
    left: -94px;
    z-index: -1;
    width: 150px;
    height: 150px;
    border: 44px solid #91aa59;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    opacity: 0.5; }
  .about-classes__img-warm-up::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 0px;
    height: 0px; }
  .about-classes__img-warm-up img {
    width: 100%;
    height: auto; }

.about-classes__img-basic {
  width: 87%;
  max-width: 777px;
  margin: 35% 8.5% 8% auto; }
  .about-classes__img-basic::before {
    content: "";
    top: -52px;
    left: 32px; }
  .about-classes__img-basic::after {
    content: "";
    position: absolute;
    top: -36px;
    left: 175px;
    z-index: 0;
    width: 71px;
    height: 55px;
    -webkit-border-bottom-left-radius: 55%;
            border-bottom-left-radius: 55%;
    background: url("../img/dots.svg") no-repeat; }
  .about-classes__img-basic img {
    width: 100%;
    height: auto; }

.about-classes__img-stretching {
  width: 100%;
  max-width: 960px;
  margin: 22% auto 6% 1px; }
  .about-classes__img-stretching::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 38px;
    z-index: -1;
    width: 120px;
    height: 120px;
    border: 44px solid #91aa59;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    opacity: 0.5; }
  .about-classes__img-stretching::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 0px;
    height: 0px; }
  .about-classes__img-stretching img {
    width: 100%;
    height: auto; }

.feedback {
  margin: 0 15px 100px; }
  .feedback__slider {
    width: 100%;
    min-height: 300px;
    position: relative;
    margin: 0;
    padding: 0 0 25px 0;
    text-align: center;
    list-style: none; }
    .feedback__slider input {
      display: none; }
    .feedback__slider input + label {
      display: inline-block;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #91aa59;
      border: 2px solid rgba(190, 190, 190, 0.8);
      cursor: pointer;
      z-index: 100;
      position: relative;
      margin-right: 4px;
      top: 347px;
      left: -17px;
      -webkit-transition: 0.8s ease-out 0s;
      -o-transition: 0.8s ease-out 0s;
      transition: 0.8s ease-out 0s;
      opacity: 0.3; }
    .feedback__slider .feedback_label-1 {
      left: 0px; }
    .feedback__slider input + label:hover {
      background: #91aa59;
      opacity: 0.5; }
    .feedback__slider input:checked + label {
      background: #91aa59;
      opacity: 1; }
    .feedback__slider .feedback__content {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
      -webkit-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
      -o-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s; }
    .feedback__slider input:checked + label + .feedback__content {
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
      -o-transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
      transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s; }
  .feedback__content {
    -webkit-box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
            box-shadow: 0 9px 23px 9px rgba(33, 33, 33, 0.04);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff; }
  .feedback__img {
    width: 34%;
    max-width: 294px;
    margin: 15% auto -1% 30%; }
    .feedback__img img {
      width: 100%;
      height: auto; }
  .feedback__data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 4.7% 0 0; }
  .feedback__name {
    font-family: "Roboto-Regular", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    opacity: 0.87; }
  .feedback__age-and-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: -8px 20px 20px 0;
    list-style: none; }
    .feedback__age-and-social li {
      margin: 0 18px 0 0; }
    .feedback__age-and-social:last-child {
      margin: 0; }
    .feedback__age-and-social .feedback__age {
      margin: 0 23px 0 0;
      font-family: "Roboto-Regular", Tahoma, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      opacity: 0.87; }

.contacts {
  margin: 0; }
  .contacts__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: left;
    -webkit-align-items: left;
        -ms-flex-align: left;
            align-items: left;
    margin: 0 0 45px 37px;
    padding: 0; }
  .contacts__content {
    margin-bottom: 5px; }
  .contacts__content-telephone {
    margin-bottom: -3px; }
  .contacts__content-title {
    margin-bottom: 7px;
    font-family: "SFUIText-Regular", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 22.61px; }
  .contacts__content-title-mail {
    margin-bottom: 0; }
  .contacts__content-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: left;
    -webkit-align-items: left;
        -ms-flex-align: left;
            align-items: left;
    margin: 0;
    padding: 0; }
  .contacts__img-map {
    width: 100%;
    max-width: 960px; }
    .contacts__img-map img {
      display: block;
      width: 100%;
      height: auto; }

.footer {
  width: 100%;
  margin: 0;
  padding: 25px 90px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #91aa59 left bottom; }
  .footer__content {
    max-width: 120px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none; }
  .footer__logo-and-social {
    max-width: 75px;
    margin: 15px auto 40px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .footer__logo {
    width: 55%;
    margin: 10px auto 5px 26%; }
  .footer__social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px; }
  .footer__trail {
    font-family: "SFUIText-Regular", Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #fefefe;
    letter-spacing: 1.2px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap; }

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../fonts/sfui/SFUIText-Regular.woff") format("woff"), url("../fonts/sfui/SFUIText-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Proxima-Nova-Extrabold";
  src: url("../fonts/proxima/FontsFree-Net-Proxima-Nova-Xbold.otf") format("otf");
  font-weight: bold;
  font-style: normal; }
